In [1]:
# Imports
import requests
import json
from pprint import pprint
from config import api_key

In [2]:
# Imports for calculations
import pandas as pd
import numpy as np
import os

In [3]:
# Base Url for 
url = f'https://api.census.gov/data/timeseries/poverty/saipe?get=NAME,SAEMHI_PT,SAEPOVRTALL_PT,SAEPOVALL_PT&YEAR&for=state:*&time=2022&key={api_key}'

In [4]:
poverty_request = requests.get(url)
poverty_request_json = poverty_request.json()

#if poverty_request.status_code == 200:
    # Printing the response content
    #print(poverty_request.json())  # Assuming the response is in JSON format
#else:
    #print("Failed to retrieve data from the API. Status code:", poverty_request.status_code)

In [5]:
pprint(poverty_request_json)

[['NAME',
  'SAEMHI_PT',
  'SAEPOVRTALL_PT',
  'SAEPOVALL_PT',
  'YEAR',
  'time',
  'state'],
 ['Alabama', '59703', '16.2', '798469', '2022', '2022', '01'],
 ['Alaska', '88072', '10.8', '77305', '2022', '2022', '02'],
 ['Arizona', '74355', '12.5', '904567', '2022', '2022', '04'],
 ['Arkansas', '55505', '16.3', '481650', '2022', '2022', '05'],
 ['California', '91517', '12.2', '4673718', '2022', '2022', '06'],
 ['Colorado', '89096', '9.5', '542333', '2022', '2022', '08'],
 ['Connecticut', '88182', '9.8', '345710', '2022', '2022', '09'],
 ['Delaware', '81933', '10.0', '99843', '2022', '2022', '10'],
 ['District of Columbia', '99897', '14.2', '91474', '2022', '2022', '11'],
 ['Florida', '69287', '12.7', '2770789', '2022', '2022', '12'],
 ['Georgia', '72742', '12.9', '1372488', '2022', '2022', '13'],
 ['Hawaii', '93683', '10.0', '140871', '2022', '2022', '15'],
 ['Idaho', '72634', '10.5', '198979', '2022', '2022', '16'],
 ['Illinois', '76744', '11.9', '1465724', '2022', '2022', '17'],
 ['Indiana', '66768', '12.5', '827927', '2022', '2022', '18'],
 ['Iowa', '69708', '11.0', '340272', '2022', '2022', '19'],
 ['Kansas', '68827', '11.9', '340106', '2022', '2022', '20'],
 ['Kentucky', '59246', '16.3', '716293', '2022', '2022', '21'],
 ['Louisiana', '55458', '18.6', '832505', '2022', '2022', '22'],
 ['Maine', '69485', '10.9', '146963', '2022', '2022', '23'],
 ['Maryland', '94957', '9.8', '589754', '2022', '2022', '24'],
 ['Massachusetts', '94538', '10.4', '700507', '2022', '2022', '25'],
 ['Michigan', '66926', '13.3', '1306663', '2022', '2022', '26'],
 ['Minnesota', '82343', '9.6', '538990', '2022', '2022', '27'],
 ['Mississippi', '52788', '19.2', '545773', '2022', '2022', '28'],
 ['Missouri', '64783', '13.1', '787164', '2022', '2022', '29'],
 ['Montana', '67915', '11.8', '130117', '2022', '2022', '30'],
 ['Nebraska', '69828', '11.1', '213320', '2022', '2022', '31'],
 ['Nevada', '72348', '12.6', '394516', '2022', '2022', '32'],
 ['New Hampshire', '90750', '7.4', '100965', '2022', '2022', '33'],
 ['New Jersey', '96341', '9.7', '879100', '2022', '2022', '34'],
 ['New Mexico', '59842', '17.3', '358749', '2022', '2022', '35'],
 ['New York', '79463', '14.2', '2720649', '2022', '2022', '36'],
 ['North Carolina', '67516', '12.8', '1335859', '2022', '2022', '37'],
 ['North Dakota', '73240', '11.2', '84207', '2022', '2022', '38'],
 ['Ohio', '65786', '13.4', '1537902', '2022', '2022', '39'],
 ['Oklahoma', '59632', '15.6', '608531', '2022', '2022', '40'],
 ['Oregon', '75638', '12.0', '500100', '2022', '2022', '41'],
 ['Pennsylvania', '71789', '11.8', '1483039', '2022', '2022', '42'],
 ['Rhode Island', '80873', '11.2', '117858', '2022', '2022', '44'],
 ['South Carolina', '64227', '14.0', '719381', '2022', '2022', '45'],
 ['South Dakota', '70597', '12.4', '108694', '2022', '2022', '46'],
 ['Tennessee', '65231', '13.3', '920748', '2022', '2022', '47'],
 ['Texas', '72279', '14.0', '4118852', '2022', '2022', '48'],
 ['Utah', '88531', '8.3', '276360', '2022', '2022', '49'],
 ['Vermont', '74555', '10.2', '63667', '2022', '2022', '50'],
 ['Virginia', '85838', '10.6', '893559', '2022', '2022', '51'],
 ['Washington', '91255', '10.0', '764405', '2022', '2022', '53'],
 ['West Virginia', '54097', '17.4', '299275', '2022', '2022', '54'],
 ['Wisconsin', '71050', '10.8', '621380', '2022', '2022', '55'],
 ['Wyoming', '71275', '11.2', '63555', '2022', '2022', '56']]

In [5]:
dfs = []

# Loop through years 2012 to 2022 excluding 2020
for year in range(2010, 2023):
    if year != 2020:
        # Construct the API URL for the current year
        url = f'https://api.census.gov/data/timeseries/poverty/saipe?get=NAME,SAEMHI_PT,SAEPOVRTALL_PT,SAEPOVALL_PT&YEAR={year}&for=state:*&time={year}&key={api_key}'
        
        # Read data from the API into a pandas dataframe
        df = pd.read_json(url)
        
        # Remove the first row (header row) from the dataframe
        df = df.iloc[1:]
        
        # Rename the columns and set them as row headers
        df = df.rename(columns={0: 'state', 1: 'median_h_income', 2: 'poverty_rate', 3: 'poverty_count', 4: 'year', 5: 'also_year', 6: 'state_code'})
        
        # Append the dataframe to the list
        dfs.append(df)

# Concatenate all dataframes into a single dataframe
result_df = pd.concat(dfs, ignore_index=True)

# Display the result
result_df.head()

,state,median_h_income,poverty_rate,poverty_count,year,also_year,state_code
0,Alabama,40538,18.9,883078,2010,2010,01
1,Alaska,63456,11.0,76850,2010,2010,02
2,Arizona,46787,17.6,1105075,2010,2010,04
3,Arkansas,38413,18.7,529710,2010,2010,05
4,California,57664,15.8,5785036,2010,2010,06

In [6]:
result_df.head(20)

,state,median_h_income,poverty_rate,poverty_count,year,also_year,state_code
0,Alabama,40538,18.9,883078,2010,2010,01
1,Alaska,63456,11.0,76850,2010,2010,02
2,Arizona,46787,17.6,1105075,2010,2010,04
3,Arkansas,38413,18.7,529710,2010,2010,05
4,California,57664,15.8,5785036,2010,2010,06
5,Colorado,54411,13.2,651744,2010,2010,08
6,Connecticut,64321,10.1,348881,2010,2010,09
7,Delaware,56172,11.9,104456,2010,2010,10
8,District of Columbia,60729,18.8,107279,2010,2010,11
9,Florida,44390,16.5,3048621,2010,2010,12
10,Georgia,46252,18.0,1698004,2010,2010,13
11,Hawaii,62774,11.1,146923,2010,2010,15
12,Idaho,43259,15.8,244009,2010,2010,16
13,Illinois,52967,13.8,1732129,2010,2010,17
14,Indiana,44616,15.3,960402,2010,2010,18
15,Iowa,48031,12.5,368965,2010,2010,19
16,Kansas,47888,13.5,374677,2010,2010,20
17,Kentucky,40089,18.9,796208,2010,2010,21
18,Louisiana,42510,18.8,831512,2010,2010,22
19,Maine,45882,13.1,169076,2010,2010,23

In [7]:
# result_df = result_df.rename(columns={'SAEMHI_PT': 'median_h_income', 'SAEPOVRTALL_PT': 'poverty_rate', 'SAEPOVALL_PT': 'poverty_count'}
#               ).drop(columns=['state', 6]
#                      )
result_df = result_df.drop(columns=['also_year', 'state_code'])

In [8]:
result_df.head()

        state median_h_income poverty_rate poverty_count  year
0     Alabama           40538         18.9        883078  2010
1      Alaska           63456         11.0         76850  2010
2     Arizona           46787         17.6       1105075  2010
3    Arkansas           38413         18.7        529710  2010
4  California           57664         15.8       5785036  2010

In [ ]:
result_df.to_csv('API_Poverty.csv', index=False)

In [9]:
#Test URL
#test_url = f'https://api.census.gov/data/timeseries/poverty/saipe?get=NAME,SAEPOVALL_PT,SAEPOVALL_MOE,SAEPOVRTALL_MOE,SAEPOVRTALL_PT&for=state:01&YEAR=2022&key={api_key}'

#test_url = "api.census.gov/data/timeseries/poverty/saipe?get=NAME,SAEPOVALL_PT,SAEPOVALL_MOE,SAEPOVRTALL_MOE,SAEPOVRTALL_PT&for=state:01&YEAR=2022"

In [10]:
#test_request = requests.get(test_url)
#test_request_json = test_request.json()

In [11]:
#pprint(test_request_json)

[['NAME',
  'SAEPOVALL_PT',
  'SAEPOVALL_MOE',
  'SAEPOVRTALL_MOE',
  'SAEPOVRTALL_PT',
  'YEAR',
  'state'],
 ['Alabama', '798469', '17536', '0.40', '16.2', '2022', '01']]

In [52]:
#This is the URL for the spread sheet and the following result from the pull
# url2 = f'https://api.census.gov/data/2022/acs/acs1/spp'
# pop_request = requests.get(url2)
# pop_request_json = pop_request.json()
# pprint(pop_request_json)

{'@context': 'https://project-open-data.cio.gov/v1.1/schema/catalog.jsonld',
 '@id': 'http://api.census.gov/data/2022/acs/acs1/spp.json',
 '@type': 'dcat:Catalog',
 'conformsTo': 'https://project-open-data.cio.gov/v1.1/schema',
 'dataset': [{'@type': 'dcat:Dataset',
              'accessLevel': 'public',
              'bureauCode': ['006:07'],
              'c_dataset': ['acs', 'acs1', 'spp'],
              'c_documentationLink': 'https://www.census.gov/developer/',
              'c_examplesLink': 'http://api.census.gov/data/2022/acs/acs1/spp/examples.json',
              'c_geographyLink': 'http://api.census.gov/data/2022/acs/acs1/spp/geography.json',
              'c_groupsLink': 'http://api.census.gov/data/2022/acs/acs1/spp/groups.json',
              'c_isAggregate': True,
              'c_isAvailable': True,
              'c_isCube': True,
              'c_sorts_url': 'http://api.census.gov/data/2022/acs/acs1/spp/sorts.json',
              'c_tagsLink': 'http://api.census.gov/data/2022/acs/acs1/spp/tags.json',
              'c_variablesLink': 'http://api.census.gov/data/2022/acs/acs1/spp/variables.json',
              'c_vintage': 2022,
              'contactPoint': {'fn': 'American Community Survey Office',
                               'hasEmail': 'mailto:acso.users.support@census.gov'},
              'description': 'Selected Population Profiles provide broad '
                             'social, economic, and housing profiles for a '
                             'large number of race, ethnic, ancestry, and '
                             'country/region of birth groups. The data are '
                             'presented as population counts for the total '
                             'population and various subgroups and '
                             'percentages.',
              'distribution': [{'@type': 'dcat:Distribution',
                                'accessURL': 'http://api.census.gov/data/2022/acs/acs1/spp',
                                'description': 'API endpoint',
                                'format': 'API',
                                'mediaType': 'application/json',
                                'title': 'API endpoint'}],
              'identifier': 'https://api.census.gov/data/id/ACSSPP1Y2022',
              'keyword': ['census'],
              'license': 'https://creativecommons.org/publicdomain/zero/1.0/',
              'modified': '2023-04-24 14:51:20.0',
              'programCode': ['006:004'],
              'publisher': {'@type': 'org:Organization',
                            'name': 'U.S. Census Bureau',
                            'subOrganizationOf': {'@type': 'org:Organization',
                                                  'name': 'U.S. Department Of '
                                                          'Commerce',
                                                  'subOrganizationOf': {'@type': 'org:Organization',
                                                                        'name': 'U.S. '
                                                                                'Government'}}},
              'references': ['https://www.census.gov/developers/'],
              'spatial': 'US',
              'temporal': '2022/2022',
              'title': 'American Community Survey: 1-Year Estimates: Selected '
                       'Population Profiles 1-Year'}],
 'describedBy': 'https://project-open-data.cio.gov/v1.1/schema/catalog.json'}