In [1]:
import os
import pandas as pd

# Attempting to process data types first to get correct format
# Nested the target CSV files into another "resources"
folder_path = 'resources'

# List to store processed data
preprocessed_data = []

# Grab each CSV and read in, manually edit format and data type by column
for file_name in os.listdir(folder_path):
    if file_name.endswith('.csv'):
        
        df = pd.read_csv(os.path.join(folder_path, file_name))

        # Convert percentage columns to decimal numbers
        percentage_columns = ['18-24<hs_grad', '18-24_hs_grad/equiv', '18-24_some_college/associate',
                              '18-24_bachelor/higher', '25+<9th_grade', '25+_9th-12th_grade_nongrad',
                              '25+_hs_grad/equiv', '25+_some_college', "25+_associate's", "25+_bachelor's",
                              '25+>bachelor', '25-34_hs_grad/higher', '25-34_bachelor/higher',
                              '35-44_hs_grad/higher', '35-44_bachelor/higher', '45-64_hs_grad/higher',
                              '45-64_bachelor/higher', '65+_hs_grad/higher', '65+_bachelor/higher',
                              '25+<hs_grad', '25+_hs_grad/equiv.1', '25+_some_college/associate',
                              "25+_bachelor's.1", '25+>bachelor.1']

        for col in percentage_columns:
            df[col] = df[col].str.rstrip('%').str.replace(',', '').astype(float) / 100

        # Convert columns with commas to numeric types
        # Handles the 'O' data types
        for col in df.columns[2:]:
            if df[col].dtype == 'O':  
                df[col] = df[col].str.replace(',', '').astype(float)

        # Append the preprocessed DataFrame to the list
        preprocessed_data.append(df)

# Check each to see if this method works
for i, df in enumerate(preprocessed_data):
    print(f"DataFrame {i+1}:")
    print(df.head())
    print()

DataFrame 1:
         state  year  18-24_count  18-24<hs_grad  18-24_hs_grad/equiv  \
0     Alabama   2010     488349.0          0.199                0.301
1      Alaska   2010      75023.0          0.188                0.371
2     Arizona   2010     634568.0          0.196                0.307
3    Arkansas   2010     291054.0          0.203                0.325
4  California   2010    3944934.0          0.173                0.276

   18-24_some_college/associate  18-24_bachelor/higher   25+_count  \
0                         0.439                  0.060   3161521.0
1                         0.407                  0.034    450577.0
2                         0.436                  0.060   4146758.0
3                         0.415                  0.056   1919422.0
4                         0.473                  0.078  24097200.0

   25+<9th_grade  25+_9th-12th_grade_nongrad  ...  45-64_bachelor/higher  \
0          0.062                       0.117  ...                  0.226
1          0.028                       0.061  ...                  0.294
2          0.063                       0.081  ...                  0.274
3          0.063                       0.107  ...                  0.196
4          0.105                       0.088  ...                  0.306

   65+_count  65+_hs_grad/higher  65+_bachelor/higher  25+_earnings  \
0   657974.0               0.723                0.167       30406.0
1    53339.0               0.829                0.244       40575.0
2   886795.0               0.837                0.245       32106.0
3   420075.0               0.725                0.152       27498.0
4  4269495.0               0.766                0.265       35645.0

   25+<hs_grad  25+_hs_grad/equiv.1  25+_some_college/associate  \
0       173.66               248.49                      300.64
1       200.87               306.17                      401.59
2       176.38               256.07                      317.51
3       183.73               228.95                      271.75
4       179.37               271.22                      357.35

   25+_bachelor's.1  25+>bachelor.1
0            455.02          524.76
1            511.37          676.34
2            460.91          600.51
3            411.02          540.36
4            522.48          744.23

[5 rows x 33 columns]

DataFrame 2:
         state  year  18-24_count  18-24<hs_grad  18-24_hs_grad/equiv  \
0     Alabama   2011     485274.0          0.177                0.291
1      Alaska   2011      77633.0          0.185                0.359
2     Arizona   2011     647258.0          0.190                0.305
3    Arkansas   2011     283366.0          0.155                0.327
4  California   2011    3980604.0          0.158                0.288

   18-24_some_college/associate  18-24_bachelor/higher   25+_count  \
0                         0.463                  0.069   3193078.0
1                         0.402                  0.054    456862.0
2                         0.441                  0.064   4211223.0
3                         0.455                  0.063   1943427.0
4                         0.472                  0.082  24443872.0

   25+<9th_grade  25+_9th-12th_grade_nongrad  ...  45-64_bachelor/higher  \
0          0.056                       0.117  ...                  0.225
1          0.031                       0.052  ...                  0.260
2          0.062                       0.081  ...                  0.272
3          0.062                       0.100  ...                  0.202
4          0.103                       0.086  ...                  0.305

   65+_count  65+_hs_grad/higher  65+_bachelor/higher  25+_earnings  \
0   673790.0               0.735                0.173       30910.0
1    58367.0               0.814                0.252       40812.0
2   923153.0               0.845                0.258       32165.0
3   428625.0               0.750                0.159       28700.0
4  4398053.0               0.769                0.272       35561.0

   25+<hs_grad  25+_hs_grad/equiv.1  25+_some_college/associate  \
0       190.49               250.69                      303.18
1       223.42               321.73                      404.78
2       179.25               249.95                      320.66
3       183.92               240.09                      279.26
4       182.61               269.41                      353.03

   25+_bachelor's.1  25+>bachelor.1
0            448.00          542.00
1            504.22          692.22
2            464.85          572.49
3            422.20          565.79
4            528.24          762.53

[5 rows x 33 columns]

DataFrame 3:
         state  year  18-24_count  18-24<hs_grad  18-24_hs_grad/equiv  \
0     Alabama   2012     487402.0          0.168                0.289
1      Alaska   2012      79590.0          0.148                0.406
2     Arizona   2012     653206.0          0.176                0.302
3    Arkansas   2012     288120.0          0.146                0.340
4  California   2012    4022340.0          0.147                0.285

   18-24_some_college/associate  18-24_bachelor/higher   25+_count  \
0                         0.472                  0.071   3209646.0
1                         0.391                  0.055    464594.0
2                         0.453                  0.070   4280464.0
3                         0.448                  0.066   1949382.0
4                         0.479                  0.089  24779784.0

   25+<9th_grade  25+_9th-12th_grade_nongrad  ...  45-64_bachelor/higher  \
0          0.053                       0.107  ...                  0.231
1          0.030                       0.050  ...                  0.293
2          0.064                       0.079  ...                  0.277
3          0.054                       0.098  ...                  0.208
4          0.101                       0.084  ...                  0.308

   65+_count  65+_hs_grad/higher  65+_bachelor/higher  25+_earnings  \
0   700359.0               0.755                0.184       31322.0
1    62119.0               0.843                0.269       41288.0
2   971086.0               0.840                0.265       32447.0
3   441107.0               0.775                0.167       30191.0
4  4599393.0               0.781                0.280       36008.0

   25+<hs_grad  25+_hs_grad/equiv.1  25+_some_college/associate  \
0       186.42               254.85                      305.25
1       230.58               306.04                      410.92
2       177.73               259.23                      322.78
3       206.92               252.80                      285.90
4       186.75               269.21                      355.24

   25+_bachelor's.1  25+>bachelor.1
0            451.24          559.43
1            514.36          688.81
2            466.68          605.62
3            423.77          540.99
4            530.33          766.48

[5 rows x 33 columns]

DataFrame 4:
         state  year  18-24_count  18-24<hs_grad  18-24_hs_grad/equiv  \
0     Alabama   2013     498384.0          0.175                0.303
1      Alaska   2013      84107.0          0.202                0.354
2     Arizona   2013     665925.0          0.179                0.313
3    Arkansas   2013     287248.0          0.138                0.328
4  California   2013    4011105.0          0.139                0.288

   18-24_some_college/associate  18-24_bachelor/higher   25+_count  \
0                         0.449                  0.073   3225447.0
1                         0.396                  0.049    462659.0
2                         0.431                  0.076   4344737.0
3                         0.467                  0.067   1960503.0
4                         0.481                  0.092  25147232.0

   25+<9th_grade  25+_9th-12th_grade_nongrad  ...  45-64_bachelor/higher  \
0          0.049                       0.106  ...                  0.241
1          0.031                       0.053  ...                  0.271
2          0.064                       0.077  ...                  0.277
3          0.056                       0.100  ...                  0.201
4          0.101                       0.082  ...                  0.306

   65+_count  65+_hs_grad/higher  65+_bachelor/higher  25+_earnings  \
0   721538.0               0.774                0.196       31583.0
1    65584.0               0.833                0.294       42051.0
2  1018724.0               0.858                0.267       33300.0
3   453542.0               0.771                0.168       30397.0
4  4794108.0               0.786                0.288       36297.0

   25+<hs_grad  25+_hs_grad/equiv.1  25+_some_college/associate  \
0       188.51               256.91                      308.56
1       262.62               350.68                      407.17
2       198.48               265.61                      323.24
3       200.92               255.84                      297.78
4       190.57               272.62                      358.88

   25+_bachelor's.1  25+>bachelor.1
0            461.08          551.87
1            517.19          709.75
2            483.50          573.65
3            433.65          551.37
4            549.31          770.93

[5 rows x 33 columns]

DataFrame 5:
         state  year  18-24_count  18-24<hs_grad  18-24_hs_grad/equiv  \
0     Alabama   2014     484011.0          0.161                0.325
1      Alaska   2014      84814.0          0.145                0.373
2     Arizona   2014     673187.0          0.170                0.317
3    Arkansas   2014     291815.0          0.142                0.327
4  California   2014    3996629.0          0.130                0.288

   18-24_some_college/associate  18-24_bachelor/higher   25+_count  \
0                         0.446                  0.068   3256766.0
1                         0.412                  0.070    465149.0
2                         0.444                  0.069   4436226.0
3                         0.456                  0.074   1968414.0
4                         0.488                  0.095  25654292.0

   25+<9th_grade  25+_9th-12th_grade_nongrad  ...  45-64_bachelor/higher  \
0          0.051                       0.102  ...                  0.240
1          0.027                       0.044  ...                  0.281
2          0.064                       0.075  ...                  0.276
3          0.056                       0.090  ...                  0.211
4          0.100                       0.079  ...                  0.309

   65+_count  65+_hs_grad/higher  65+_bachelor/higher  25+_earnings  \
0   746512.0               0.775                0.190       31507.0
1    69899.0               0.858                0.304       45182.0
2  1070757.0               0.857                0.273       33957.0
3   465012.0               0.780                0.177       30727.0
4  4990092.0               0.789                0.295       36900.0

   25+<hs_grad  25+_hs_grad/equiv.1  25+_some_college/associate  \
0       175.83               256.93                      306.62
1       261.63               359.63                      417.83
2       195.54               271.20                      329.71
3       209.61               257.49                      296.34
4       198.39               276.64                      360.15

   25+_bachelor's.1  25+>bachelor.1
0            458.74          558.73
1            560.42          718.06
2            464.07          604.58
3            430.20          558.18
4            559.00          776.53

[5 rows x 33 columns]

DataFrame 6:
         state  year  18-24_count  18-24<hs_grad  18-24_hs_grad/equiv  \
0     Alabama   2015     468319.0         709.92              1496.12
1      Alaska   2015      82518.0         124.27               314.16
2     Arizona   2015     669583.0        1141.87              2033.12
3    Arkansas   2015     284441.0         363.09               901.53
4  California   2015    3943137.0        4907.79             11665.01

   18-24_some_college/associate  18-24_bachelor/higher   25+_count  \
0                       2126.84                 350.31   3282252.0
1                        338.82                  47.93    469523.0
2                       3027.77                 493.07   4536954.0
3                       1375.05                 204.74   1987819.0
4                      19043.49                3815.08  26085263.0

   25+<9th_grade  25+_9th-12th_grade_nongrad  ...  45-64_bachelor/higher  \
0        1588.30                     3380.52  ...                3050.02
1         121.21                      224.95  ...                 575.35
2        2713.16                     3596.57  ...                4617.98
3        1059.45                     1841.26  ...                1590.14
4       25827.57                    20607.53  ...               30664.36

   65+_count  65+_hs_grad/higher  65+_bachelor/higher  25+_earnings  \
0   761847.0             6114.59              1611.50       32468.0
1    71008.0              623.70               213.91       41968.0
2  1120004.0             9675.46              3118.36       35016.0
3   478114.0             3824.38               891.50       30983.0
4  5189558.0            41227.91             15629.21       37476.0

   25+<hs_grad  25+_hs_grad/equiv.1  25+_some_college/associate  \
0       207.32               272.23                      308.78
1       219.23               338.15                      410.36
2       203.77               279.47                      336.32
3       216.08               262.41                      300.20
4       208.80               291.08                      361.61

   25+_bachelor's.1  25+>bachelor.1
0            467.40          561.64
1            528.85          705.90
2            498.01          608.84
3            428.28          554.90
4            572.82          804.42

[5 rows x 33 columns]

DataFrame 7:
         state  year  18-24_count  18-24<hs_grad  18-24_hs_grad/equiv  \
0     Alabama   2016     463070.0         633.69              1487.05
1      Alaska   2016      75647.0         105.53               297.18
2     Arizona   2016     673240.0        1045.86              2221.45
3    Arkansas   2016     290440.0         451.97               962.37
4  California   2016    3852527.0        4505.16             11516.20

   18-24_some_college/associate  18-24_bachelor/higher   25+_count  \
0                       2180.92                 329.04   3300713.0
1                        297.76                  56.00    478951.0
2                       2948.24                 516.85   4626409.0
3                       1269.65                 220.41   1990448.0
4                      18637.16                3866.75  26304241.0

   25+<9th_grade  25+_9th-12th_grade_nongrad  ...  45-64_bachelor/higher  \
0        1577.97                     3338.97  ...                3137.92
1         103.92                      225.85  ...                 561.60
2        2652.15                     3492.24  ...                4880.99
3        1001.57                     1794.65  ...                1632.68
4       25561.47                    20625.16  ...               31065.99

   65+_count  65+_hs_grad/higher  65+_bachelor/higher  25+_earnings  \
0   783952.0             6293.24              1668.56       33888.0
1    75832.0              676.90               237.24       43493.0
2  1169826.0            10219.40              3395.19       35919.0
3   485630.0             3921.88               933.11       31687.0
4  5348439.0            42543.44             16322.52       40005.0

   25+<hs_grad  25+_hs_grad/equiv.1  25+_some_college/associate  \
0       205.24               271.44                      315.47
1       271.47               320.63                      416.63
2       213.00               277.08                      342.51
3       224.42               266.29                      304.19
4       215.58               302.31                      369.85

   25+_bachelor's.1  25+>bachelor.1
0            483.04          573.07
1            516.65          759.50
2            504.79          620.34
3            459.63          562.96
4            601.21          822.71

[5 rows x 33 columns]

DataFrame 8:
         state  year  18-24_count  18-24<hs_grad  18-24_hs_grad/equiv  \
0     Alabama   2017     471079.0         638.10              1613.11
1      Alaska   2017      73053.0         104.16               278.92
2     Arizona   2017     672180.0        1097.34              2261.31
3    Arkansas   2017     287448.0         382.90               986.09
4  California   2017    3799994.0        3995.55             11740.92

   18-24_some_college/associate  18-24_bachelor/higher   25+_count  \
0                       2147.51                 312.07   3309607.0
1                        299.66                  47.79    481561.0
2                       2851.53                 511.62   4711362.0
3                       1279.68                 225.81   2008398.0
4                      18233.19                4030.28  26679273.0

   25+<9th_grade  25+_9th-12th_grade_nongrad  ...  45-64_bachelor/higher  \
0        1373.86                     3095.57  ...                3330.16
1         142.46                      257.90  ...                 541.92
2        2547.00                     3501.98  ...                4853.51
3         927.35                     1748.07  ...                1663.09
4       24599.93                    19893.09  ...               31598.87

   65+_count  65+_hs_grad/higher  65+_bachelor/higher  25+_earnings  \
0   803216.0             6512.90              1774.76       35578.0
1    83041.0              727.65               253.73       45018.0
2  1200850.0            10545.90              3530.25       36923.0
3   497024.0             4087.96              1011.51       34062.0
4  5504817.0            44040.13             17244.89       41122.0

   25+<hs_grad  25+_hs_grad/equiv.1  25+_some_college/associate  \
0       216.01               294.40                      320.57
1       242.22               358.68                      417.58
2       221.21               288.21                      358.02
3       234.39               290.23                      319.16
4       226.48               309.18                      382.96

   25+_bachelor's.1  25+>bachelor.1
0            495.20          572.13
1            569.14          757.48
2            511.97          655.73
3            464.83          600.11
4            609.40          855.55

[5 rows x 33 columns]

DataFrame 9:
         state  year  18-24_count  18-24<hs_grad  18-24_hs_grad/equiv  \
0     Alabama   2018     461302.0         611.66              1612.86
1      Alaska   2018      68625.0          78.63               313.55
2     Arizona   2018     689343.0        1057.67              2307.22
3    Arkansas   2018     287926.0         344.46              1073.70
4  California   2018    3755863.0        3905.20             11462.58

   18-24_some_college/associate  18-24_bachelor/higher   25+_count  \
0                       2021.78                 366.72   3337464.0
1                        255.47                  38.60    485353.0
2                       2938.94                 589.60   4840304.0
3                       1238.54                 222.56   2021939.0
4                      17865.51                4325.34  26815644.0

   25+<9th_grade  25+_9th-12th_grade_nongrad  ...  45-64_bachelor/higher  \
0        1315.92                     3165.87  ...                3201.61
1         120.23                      204.21  ...                 549.70
2        2565.45                     3493.89  ...                5089.90
3         925.15                     1664.71  ...                1667.91
4       23962.26                    19587.91  ...               31814.98

   65+_count  65+_hs_grad/higher  65+_bachelor/higher  25+_earnings  \

In [2]:

import sqlite3

# Nested path that contains first batch of CSVs
folder_path = 'resources'

# DB Creation:
db_filename = 'Pverty_DB.db'
conn = sqlite3.connect(db_filename)
cursor = conn.cursor()

# Initial table to handle keys by taking just state names and assigning an ID for referencing 
cursor.execute('''CREATE TABLE IF NOT EXISTS states (
                    id INTEGER PRIMARY KEY,
                    state TEXT UNIQUE
                )''')

# Function to preprocess the CSV files and create tables 
# Using REAL data types to include any % values, floats or ints. These CSVs have a variety of numerics, and 2014 - 2015 has a shift
# in data for certain columns
def process_csv(file_path, table_name):
    
    df = pd.read_csv(file_path)

    # Write schema for current table
    schema = ['id INTEGER PRIMARY KEY', 'state_id INTEGER', 'year INTEGER']
    for col in df.columns[2:]:
        schema.append(f'"{col}" REAL')

    # Create Table
    cursor.execute(f'''CREATE TABLE IF NOT EXISTS {table_name} ({", ".join(schema)}, FOREIGN KEY (state_id) REFERENCES states(id))''')

    # Each instance of a state stored
    # Some states have a space after
    states = df['state'].unique()
    for state in states:
        # Remove whitespace from states
        state = state.strip()
        cursor.execute('''INSERT OR IGNORE INTO states (state) VALUES (?)''', (state,))

    # Insert data into current table and check for mismatch
    for index, row in df.iterrows():
        state_id = cursor.execute('''SELECT id FROM states WHERE state = ?''', (row['state'].strip(),)).fetchone()
        if state_id:
            state_id = state_id[0]  # Check if state_id is not None
            cursor.execute(f'''INSERT INTO {table_name} (state_id, year, '''
                           + ', '.join([f'"{col}"' for col in df.columns[2:]]) +
                           ''') VALUES ('''
                           + ', '.join(['?' for _ in range(len(df.columns))]) +
                           ''')''', [state_id] + row.tolist()[1:])
        else:
            print(f"State ID not found for '{row['state']}'.")

# Loop through each CSV file and grab year for table name
for file_name in os.listdir(folder_path):
    if file_name.endswith('.csv'):
        
        year = file_name.split('_')[2].split('.')[0]

        # Skip 2020 (no data)
        if year == '2020':
            continue

        # Write schema for current table
        table_name = f'data_{year}'
        file_path = os.path.join(folder_path, file_name)

        # Process the CSV file and create table in the database
        process_csv(file_path, table_name)

# Commit initial CSV batch to DB
conn.commit()

# Now, adding the new API data as a table - this file is in directory with notebook, not in previous batch
new_csv_file = 'API_Poverty.csv'  
new_df = pd.read_csv(new_csv_file)

# Create table schema
cursor.execute('''CREATE TABLE IF NOT EXISTS API_Data (
                    id INTEGER PRIMARY KEY,
                    state_id INTEGER,
                    median_h_income INTEGER,
                    poverty_rate REAL,
                    poverty_count INTEGER,
                    year INTEGER,
                    FOREIGN KEY (state_id) REFERENCES states(id)
                )''')

# Same process for key state table
# Note "District of Columbia" not in original batch of CSVs so this is removed, shown in output cell
state_ids = {}
for state in new_df['state'].unique():
    # Remove trailing whitespace from state names
    state = state.strip()
    state_id = cursor.execute('''SELECT id FROM states WHERE state = ?''', (state,)).fetchone()
    if state_id:
        state_id = state_id[0]  # Check if state_id is not None
        state_ids[state] = state_id
    else:
        print(f"State '{state}' not found in 'states' table.")

# Load table
for index, row in new_df.iterrows():
    state_id = state_ids.get(row['state'])
    if state_id is not None:
        cursor.execute('''INSERT INTO API_Data (state_id, median_h_income, poverty_rate, poverty_count, year)
                          VALUES (?, ?, ?, ?, ?)''', (state_id, row['median_h_income'], row['poverty_rate'], row['poverty_count'], row['year']))
    else:
        print(f"State ID not found for '{row['state']}'.")

# Commit & close connection
conn.commit()
conn.close()

print("Database created successfully.")

State 'District of Columbia' not found in 'states' table.
State ID not found for 'District of Columbia'.
State ID not found for 'District of Columbia'.
State ID not found for 'District of Columbia'.
State ID not found for 'District of Columbia'.
State ID not found for 'District of Columbia'.
State ID not found for 'District of Columbia'.
State ID not found for 'District of Columbia'.
State ID not found for 'District of Columbia'.
State ID not found for 'District of Columbia'.
State ID not found for 'District of Columbia'.
State ID not found for 'District of Columbia'.
State ID not found for 'District of Columbia'.
Database created successfully.