In [31]:
import pandas as pd

# Data conversion attempt (bad output)
# Read the CSV file containing the data
df = pd.read_csv("clean_ea_2016.csv")

# Convert numeric data to appropriate data types
# Dont need state and year
numeric_columns = df.columns[2:] 
df[numeric_columns] = df[numeric_columns].replace(',', '', regex=True).astype(float)

# Identify the population count columns and the percentage columns
count_columns = [col for col in df.columns if "_count" in col]
percentage_columns = [col for col in df.columns if col not in ['state', 'year'] and col not in count_columns]

# Convert percentage columns to decimal percentages
for col in percentage_columns:
    if '>' in col or '<' in col:  
        df[col] = df[col] / 100.0  
    else:
        count_col_name = col.split("_")[0] + "_count"
        if count_col_name in df.columns:  
            df[col] = df[col] / df[count_col_name]

# Display the updated DataFrame
print(df)
#NOPE

              state  year  18-24_count  18-24<hs_grad  18-24_hs_grad/equiv  \
0          Alabama   2016     463070.0         633.69             0.321129
1           Alaska   2016      75647.0         105.53             0.392851
2          Arizona   2016     673240.0        1045.86             0.329964
3         Arkansas   2016     290440.0         451.97             0.331349
4       California   2016    3852527.0        4505.16             0.298926
5         Colorado   2016     534527.0         677.85             0.320710
6      Connecticut   2016     356553.0         336.01             0.295235
7         Delaware   2016      85281.0         143.46             0.346795
8          Florida   2016    1763628.0        2728.53             0.305927
9          Georgia   2016    1014366.0        1645.69             0.327040
10          Hawaii   2016     129855.0          94.38             0.412668
11           Idaho   2016     159418.0         191.33             0.360787
12        Illinois   2016    1213601.0        1457.13             0.288234
13         Indiana   2016     662944.0        1056.41             0.306456
14            Iowa   2016     320706.0         358.65             0.273440
15          Kansas   2016     300434.0         376.11             0.286625
16        Kentucky   2016     429008.0         574.22             0.336416
17       Louisiana   2016     449365.0         784.58             0.354823
18           Maine   2016     109959.0         127.84             0.320665
19        Maryland   2016     547787.0         638.79             0.294377
20   Massachusetts   2016     705317.0         770.62             0.270649
21        Michigan   2016     976715.0        1307.91             0.292321
22       Minnesota   2016     506046.0         600.40             0.272031
23     Mississippi   2016     308551.0         468.77             0.304958
24        Missouri   2016     581922.0         782.14             0.308016
25         Montana   2016     101230.0         112.07             0.355102
26        Nebraska   2016     189211.0         196.23             0.287594
27          Nevada   2016     251946.0         429.36             0.366063
28   New Hampshire   2016     127368.0         132.60             0.316634
29      New Jersey   2016     788858.0         896.44             0.285736
30      New Mexico   2016     200120.0         342.13             0.299940
31        New York   2016    1912311.0        2240.93             0.262687
32  North Carolina   2016     972709.0        1358.78             0.318687
33    North Dakota   2016      88343.0          61.89             0.312894
34            Ohio   2016    1083341.0        1481.55             0.338066
35        Oklahoma   2016     389969.0         623.71             0.348774
36          Oregon   2016     367267.0         465.86             0.307757
37    Pennsylvania   2016    1187407.0        1431.57             0.336951
38    Rhode Island   2016     113741.0         126.21             0.298512
39  South Carolina   2016     472679.0         640.84             0.329486
40    South Dakota   2016      85659.0         121.27             0.290863
41       Tennessee   2016     620744.0         722.69             0.355446
42           Texas   2016    2795622.0        4216.08             0.323965
43            Utah   2016     346126.0         422.71             0.306478
44         Vermont   2016      66347.0          62.38             0.315613
45        Virginia   2016     823075.0         877.11             0.306083
46      Washington   2016     662384.0        1004.90             0.304580
47   West Virginia   2016     162462.0         203.07             0.349048
48       Wisconsin   2016     560389.0         601.37             0.316477
49         Wyoming   2016      53847.0          85.84             0.324066

    18-24_some_college/associate  18-24_bachelor/higher   25+_count  \
0                       0.470970               0.071056   3300713.0
1                       0.393618               0.074028    478951.0
2                       0.437918               0.076771   4626409.0
3                       0.437147               0.075888   1990448.0
4                       0.483765               0.100369  26304241.0
5                       0.436058               0.116419   3745506.0
6                       0.455472               0.155054   2467737.0
7                       0.390357               0.094628    662547.0
8                       0.449822               0.089540  14703671.0
9                       0.418376               0.092346   6785395.0
10                      0.417127               0.097524    990937.0
11                      0.458110               0.061085   1087265.0
12                      0.453308               0.138391   8665219.0
13                      0.436090               0.098103   4392576.0
14                      0.507028               0.107700   2087020.0
15                      0.484932               0.103254   1891936.0
16                      0.443178               0.086558   2995509.0
17                      0.396526               0.074053   3115020.0
18                      0.453687               0.109386    966569.0
19                      0.447225               0.141785   4122508.0
20                      0.444088               0.176005   4727515.0
21                      0.475813               0.097957   6760402.0
22                      0.475058               0.134266   3725283.0
23                      0.489245               0.053871   1957022.0
24                      0.459529               0.098049   4121014.0
25                      0.449965               0.084224    712616.0
26                      0.507788               0.100909   1243820.0
27                      0.409794               0.053726   2010610.0
28                      0.423866               0.155392    947586.0
29                      0.437358               0.163269   6171172.0
30                      0.466650               0.062448   1391381.0
31                      0.457618               0.162511  13653592.0
32                      0.438925               0.102698   6877185.0
33                      0.494550               0.122500    495015.0
34                      0.424490               0.100687   7922061.0
35                      0.424577               0.066710   2571636.0
36                      0.465269               0.100129   2857952.0
37                      0.420697               0.121790   8921975.0
38                      0.454313               0.136213    734045.0
39                      0.444608               0.090330   3388476.0
40                      0.469956               0.097608    565894.0
41                      0.429151               0.098980   4527198.0
42                      0.436565               0.088659  17775280.0
43                      0.505590               0.065806   1783244.0
44                      0.474385               0.115981    439563.0
45                      0.458116               0.129236   5721173.0
46                      0.424112               0.119598   4996555.0
47                      0.445033               0.080924   1291757.0
48                      0.460905               0.115306   3933329.0
49                      0.449979               0.066540    390794.0

    25+<9th_grade  25+_9th-12th_grade_nongrad  ...  45-64_bachelor/higher  \
0         1577.97                    0.101159  ...               0.243452
1          103.92                    0.047155  ...               0.296959
2         2652.15                    0.075485  ...               0.290919
3         1001.57                    0.090163  ...               0.215600
4        25561.47                    0.078410  ...               0.314256
5         1282.09                    0.051362  ...               0.396114
6         1005.13                    0.054067  ...               0.384483
7          223.47                    0.072820  ...               0.310763
8         7627.62                    0.074298  ...               0.280443
9         3346.07                    0.086660  ...               0.308723
10         360.83                    0.043979  ...               0.324770
11         344.34                    0.064101  ...               0.267446
12        4299.10                    0.061916  ...               0.324275
13        1647.42                    0.078942  ...               0.245632
14         662.42                    0.050721  ...               0.265752
15         684.91                    0.058328  ...               0.333437
16        1707.25                    0.086040  ...               0.221906
17        1609.29                    0.104497  ...               0.219411
18         256.40                    0.050175  ...               0.283760
19        1666.06                    0.058368  ...               0.385102
20        2123.15                    0.050845  ...               0.404908
21        2034.05                    0.065751  ...               0.270969
22        1116.58                    0.040864  ...               0.334954
23         947.24                    0.110377  ...               0.208420
24        1373.15                    0.071008  ...               0.270917
25         134.53                    0.053023  ...               0.300105
26         514.10                    0.049794  ...               0.291805
27        1228.92                    0.078405  ...               0.227914
28         206.23                    0.049890  ...               0.350235
29        3171.82                    0.055661  ...               0.381184
30         845.15                    0.085114  ...               0.276840
31        8659.76                    0.073410  ...               0.328744
32        3195.70                    0.080502  ...               0.301985
33         138.27                    0.048316  ...               0.270636
34        2222.09                    0.071712  ...               0.263822
35        1032.52                    0.081572  ...               0.250876
36        1060.21                    0.059994  ...               0.314312
37        2891.65                    0.066261  ...               0.291327
38         384.05                    0.062364  ...               0.324043
39        1489.17                    0.089933  ...               0.263072
40         182.75                    0.056081  ...               0.276353
41        2162.89                    0.082617  ...               0.254885
42       15296.32                    0.084746  ...               0.284455
43         519.95                    0.053502  ...               0.301748
44         110.87                    0.053424  ...               0.344592
45        2475.76                    0.064102  ...               0.378986
46        1921.81                    0.053368  ...               0.337957
47         574.35                    0.095890  ...               0.195983
48        1068.04                    0.053629  ...               0.276880
49          57.51                    0.053583  ...               0.261057

    65+_count  65+_hs_grad/higher  65+_bachelor/higher  25+_earnings  \
0    783952.0            0.802758             0.212840      0.010267
1     75832.0            0.892631             0.312849      0.090809
2   1169826.0            0.873583             0.290230      0.007764
3    485630.0            0.807586             0.192144      0.015920
4   5348439.0            0.795437             0.305183      0.001521
5    743056.0            0.910588             0.372516      0.010918
6    576640.0            0.847980             0.314127      0.019241
7    166674.0            0.875883             0.279762      0.060421
8   4090764.0            0.844617             0.275682      0.002183
9   1359134.0            0.813712             0.248761      0.005338
10   243541.0            0.853511             0.295470      0.040649
11   256162.0            0.890214             0.259808      0.029744
12  1872830.0            0.838920             0.253743      0.004702
13   993339.0            0.843624             0.198004      0.008234
14   513742.0            0.893528             0.216852      0.018087
15   437671.0            0.897594             0.270301      0.019502
16   687525.0            0.779743             0.186606      0.011703
17   674179.0            0.796702             0.211727      0.011247
18   256652.0            0.880453             0.281455      0.036816
19   876448.0            0.860542             0.339957      0.011679
20  1074425.0            0.852156             0.340620      0.010200
21  1609065.0            0.868801             0.239291      0.005356
22   830335.0            0.899013             0.275129      0.011209
23   449634.0            0.772971             0.202970      0.016214
24   976979.0            0.852309             0.226973      0.008713
25   183881.0            0.906195             0.290117      0.045033
26   285290.0            0.901798             0.249374      0.029749
27   441761.0            0.868653             0.254792      0.017485
28   226932.0            0.892479             0.333386      0.044087
29  1372155.0            0.830341             0.296219      0.007691
30   342061.0            0.822578             0.301587      0.022657
31  3030781.0            0.801049             0.280454      0.003048
32  1568591.0            0.821998             0.246950      0.005113
33   109851.0            0.850297             0.214163      0.082185
34  1884914.0            0.850880             0.214641      0.004648
35   588292.0            0.852361             0.224812      0.013438
36   688888.0            0.902440             0.301891      0.012577
37  2221761.0            0.848377             0.227531      0.004440
38   174055.0            0.805906             0.288219      0.056659
39   830147.0            0.821136             0.253543      0.009814
40   137569.0            0.873831             0.246836      0.063736
41  1045255.0            0.796929             0.208568      0.007587
42  3352843.0            0.782323             0.258016      0.002064
43   319490.0            0.916185             0.315775      0.020845
44   113600.0            0.895202             0.344903      0.086370
45  1228045.0            0.836034             0.312642      0.007342
46  1078813.0            0.899702             0.324419      0.008383
47   343775.0            0.791887             0.168706      0.024749
48   927261.0            0.885652             0.239674      0.009813
49    87583.0            0.899672             0.266262      0.095099

    25+<hs_grad  25+_hs_grad/equiv.1  25+_some_college/associate  \
0        205.24             0.008224                    0.009558
1        271.47             0.066944                    0.086988
2        213.00             0.005989                    0.007403
3        224.42             0.013378                    0.015282
4        215.58             0.001149                    0.001406
5        256.49             0.008414                    0.009729
6        233.88             0.014369                    0.016819
7        261.71             0.047923                    0.055835
8        208.25             0.001777                    0.002154
9        212.74             0.004083                    0.004782
10       234.01             0.031648                    0.038549
11       230.04             0.024938                    0.028942
12       222.82             0.003523                    0.004161
13       224.15             0.007022                    0.007668
14       261.51             0.015100                    0.017129
15       234.25             0.015162                    0.017318
16       209.74             0.009472                    0.010783
17       207.66             0.008987                    0.010372
18       196.34             0.028900                    0.034454
19       261.70             0.008000                    0.010143
20       257.17             0.007404                    0.008610
21       205.12             0.004024                    0.004798
22       238.23             0.008465                    0.010296
23       200.57             0.013640                    0.015758
24       215.05             0.007256                    0.007846
25       187.82             0.037152                    0.043243
26       252.92             0.024507                    0.028307
27       254.44             0.015402                    0.017582
28       278.96             0.034076                    0.041416
29       223.19             0.005176                    0.006656
30       189.79             0.018415                    0.021911
31       211.33             0.002252                    0.002710
32       206.64             0.003915                    0.004605
33       294.30             0.066036                    0.079484
34       209.69             0.003816                    0.004270
35       219.68             0.010944                    0.012837
36       221.94             0.010433                    0.011198
37       228.05             0.003419                    0.004022
38       256.03             0.044628                    0.050460
39       205.66             0.007977                    0.009332
40       228.05             0.053538                    0.061996
41       211.56             0.006028                    0.007141
42       217.20             0.001563                    0.002022
43       255.01             0.017341                    0.019075
44       261.25             0.071596                    0.081756
45       230.61             0.005335                    0.006428
46       251.51             0.006420                    0.007464
47       205.12             0.020222                    0.024028
48       242.38             0.007941                    0.009161
49       239.69             0.080582                    0.088922

    25+_bachelor's.1  25+>bachelor.1
0           0.014634          573.07
1           0.107871          759.50
2           0.010911          620.34
3           0.023092          562.96
4           0.002286          822.71
5           0.013653          656.57
6           0.024823          803.06
7           0.081843          713.56
8           0.003063          595.76
9           0.007511          628.19
10          0.049892          642.83
11          0.038025          600.84
12          0.006366          709.24
13          0.011107          606.20
14          0.023098          644.17
15          0.024722          575.33
16          0.015894          562.85
17          0.014819          572.10
18          0.045066          568.55
19          0.014809          824.79
20          0.012798          769.72
21          0.007517          689.06
22          0.014697          707.28
23          0.021528          519.43
24          0.011090          572.29
25          0.055640          523.19
26          0.037192          614.59
27          0.023330          622.24
28          0.054689          679.70
29          0.010095          871.04
30          0.030201          563.25
31          0.004165          735.04
32          0.006855          603.74
33          0.094674          610.79
34          0.006416          657.73
35          0.017490          574.33
36          0.016425          638.68
37          0.005739          696.91
38          0.070902          714.14
39          0.013600          552.18
40          0.074314          519.02
41          0.010175          564.54
42          0.002980          698.03
43          0.026448          700.26
44          0.096318          572.97
45          0.009845          805.59
46          0.011660          723.35
47          0.032760          547.43
48          0.012794          624.87
49          0.121092          598.33

[50 rows x 33 columns]

In [37]:
import pandas as pd


# Wrangles all non-percentage CSVs to convert the data to match 2010-2014
# Function that explicitly handles all columns for conversion based on pop. totals for specific demo.
def process_data(year):
    # Read the CSV file containing the data
    df = pd.read_csv(f"clean_ea_{year}.csv")

    # Convert numeric data to appropriate data types (not state or year cols)
    numeric_columns = df.columns[2:] 
    df[numeric_columns] = df[numeric_columns].replace(',', '', regex=True).astype(float)

    # Calculate percentages for the specified columns
    df['18-24<hs_grad'] = df['18-24<hs_grad'] / df['18-24_count']
    df['18-24_hs_grad/equiv'] = df['18-24_hs_grad/equiv'] / df['18-24_count']
    df['18-24_some_college/associate'] = df['18-24_some_college/associate'] / df['18-24_count']
    df['18-24_bachelor/higher'] = df['18-24_bachelor/higher'] / df['18-24_count']
    
    df['25+<9th_grade'] = df['25+<9th_grade'] / df['25+_count']
    df['25+_9th-12th_grade_nongrad'] = df['25+_9th-12th_grade_nongrad'] / df['25+_count']
    df['25+_hs_grad/equiv'] = df['25+_hs_grad/equiv'] / df['25+_count']
    df['25+_some_college'] = df['25+_some_college'] / df['25+_count']
    df['25+_associate\'s'] = df['25+_associate\'s'] / df['25+_count']
    df['25+_bachelor\'s'] = df['25+_bachelor\'s'] / df['25+_count']
    df['25+>bachelor'] = df['25+>bachelor'] / df['25+_count']
    
    df['25-34_hs_grad/higher'] = df['25-34_hs_grad/higher'] / df['25-34_count']
    df['25-34_bachelor/higher'] = df['25-34_bachelor/higher'] / df['25-34_count']
    
    df['35-44_hs_grad/higher'] = df['35-44_hs_grad/higher'] / df['35-44_count']
    df['35-44_bachelor/higher'] = df['35-44_bachelor/higher'] / df['35-44_count']
    
    df['45-64_hs_grad/higher'] = df['45-64_hs_grad/higher'] / df['45-64_count']
    df['45-64_bachelor/higher'] = df['45-64_bachelor/higher'] / df['45-64_count']
    
    df['65+_hs_grad/higher'] = df['65+_hs_grad/higher'] / df['65+_count']
    df['65+_bachelor/higher'] = df['65+_bachelor/higher'] / df['65+_count']
    

    # Save the formatted DataFrame as CSV by year
    df.to_csv(f"formatted_ea_{year}.csv", index=False)

# Run on CSVs for each year of data targeted
for year in range(2015, 2023):
    if year != 2020: 
        process_data(year)

In [72]:
def process_data(year):
    # Read the CSV file containing the data
    df = pd.read_csv(f"clean_ea_{year}.csv")

    # Drop the column "25+_earnings" and all columns that come after it
    df = df.loc[:, :"25+_earnings"]

    # Find the index of the column "25+_earnings"
    index_to_drop = df.columns.get_loc("25+_earnings")

    # Drop the "25+_earnings" column and all columns that come after it
    df = df.iloc[:, :index_to_drop]

    # Convert numeric data to appropriate data types (not state or year cols)
    numeric_columns = df.columns[2:]
    df[numeric_columns] = df[numeric_columns].replace(',', '', regex=True).astype(float)

    # Calculate percentages for the specified columns and round to 3 decimal places
    columns_18_24_to_process = ['18-24<hs_grad', '18-24_hs_grad/equiv', '18-24_some_college/associate', '18-24_bachelor/higher']
    columns_25_plus_to_process = ['25+<9th_grade', '25+_9th-12th_grade_nongrad', '25+_hs_grad/equiv', '25+_some_college', "25+_associate's", "25+_bachelor's", '25+>bachelor']
    columns_25_34_to_process = ['25-34_hs_grad/higher', '25-34_bachelor/higher']
    columns_35_44_to_process = ['35-44_hs_grad/higher', '35-44_bachelor/higher']
    columns_45_64_to_process = ['45-64_hs_grad/higher', '45-64_bachelor/higher']
    columns_65_plus_to_process = ['65+_hs_grad/higher', '65+_bachelor/higher']
    
    for column in columns_18_24_to_process:
        df[column] = round((df[column] / df['18-24_count']), 3) 
    
    for column in columns_25_plus_to_process:
        df[column] = round((df[column] / df['25+_count']), 3) 
        
    for column in columns_25_34_to_process:
        df[column] = round((df[column] / df['25-34_count']), 3)
        
    for column in columns_35_44_to_process:
        df[column] = round((df[column] / df['35-44_count']), 3)
        
    for column in columns_45_64_to_process:
        df[column] = round((df[column] / df['45-64_count']), 3)
        
    for column in columns_65_plus_to_process:
        df[column] = round((df[column] / df['65+_count']), 3)

    # Return the processed DataFrame
    return df

# Create an empty DataFrame to store all processed data
all_processed_data = pd.DataFrame()

# Run on CSVs for each year of data targeted
for year in range(2015, 2023):
    if year != 2020: 
        processed_df = process_data(year)
        # Concatenate the processed DataFrame with the existing DataFrame
        all_processed_data = pd.concat([all_processed_data, processed_df], ignore_index=True)

# Print the combined DataFrame
print("Combined Processed Data:")
all_processed_data.head()

Combined Processed Data:

,state,year,18-24_count,18-24<hs_grad,18-24_hs_grad/equiv,18-24_some_college/associate,18-24_bachelor/higher,25+_count,25+<9th_grade,25+_9th-12th_grade_nongrad,...,25-34_bachelor/higher,35-44_count,35-44_hs_grad/higher,35-44_bachelor/higher,45-64_count,45-64_hs_grad/higher,45-64_bachelor/higher,65+_count,65+_hs_grad/higher,65+_bachelor/higher
0,Alabama,2015,468319.0,0.152,0.319,0.454,0.075,3282252.0,0.048,0.103,...,0.258,612193.0,0.863,0.270,1283740.0,0.859,0.238,761847.0,0.803,0.212
1,Alaska,2015,82518.0,0.151,0.381,0.411,0.058,469523.0,0.026,0.048,...,0.283,91656.0,0.940,0.293,188081.0,0.936,0.306,71008.0,0.878,0.301
2,Arizona,2015,669583.0,0.171,0.304,0.452,0.074,4536954.0,0.060,0.079,...,0.264,845274.0,0.839,0.287,1656915.0,0.865,0.279,1120004.0,0.864,0.278
3,Arkansas,2015,284441.0,0.128,0.317,0.483,0.072,1987819.0,0.053,0.093,...,0.241,367499.0,0.879,0.251,756815.0,0.860,0.210,478114.0,0.800,0.186
4,California,2015,3943137.0,0.124,0.296,0.483,0.097,26085263.0,0.099,0.079,...,0.340,5190370.0,0.813,0.347,9872623.0,0.812,0.311,5189558.0,0.794,0.301

In [69]:
# List of file names
file_names = ["clean_ea_2010.csv", "clean_ea_2011.csv", "clean_ea_2012.csv", "clean_ea_2013.csv", "clean_ea_2014.csv"]

# Read each CSV file into a DataFrame and store them in a list
data_frames = [pd.read_csv(file) for file in file_names]

# Concatenate all DataFrames into a single DataFrame
combined_df = pd.concat(data_frames, ignore_index=True)

# Find the index of the column "25+_earnings"
index_to_drop = combined_df.columns.get_loc("25+_earnings")

# Drop the "25+_earnings" column and all columns that come after it
combined_df = combined_df.iloc[:, :index_to_drop]

# List of column names containing percentages
columns_to_convert = ['18-24<hs_grad', '18-24_hs_grad/equiv', '18-24_some_college/associate', '18-24_bachelor/higher', '25+<9th_grade', 
                      '25+_9th-12th_grade_nongrad', '25+_hs_grad/equiv', '25+_some_college', "25+_associate's", "25+_bachelor's", 
                      '25+>bachelor', '25-34_hs_grad/higher', '25-34_bachelor/higher', '35-44_hs_grad/higher', '35-44_bachelor/higher', 
                      '45-64_hs_grad/higher', '45-64_bachelor/higher', '65+_hs_grad/higher', '65+_bachelor/higher'] 

# Convert percentages to decimal format
combined_df[columns_to_convert] = combined_df[columns_to_convert].replace('%', '', regex=True).astype(float) / 100

In [70]:
combined_df.head()

,state,year,18-24_count,18-24<hs_grad,18-24_hs_grad/equiv,18-24_some_college/associate,18-24_bachelor/higher,25+_count,25+<9th_grade,25+_9th-12th_grade_nongrad,...,25-34_bachelor/higher,35-44_count,35-44_hs_grad/higher,35-44_bachelor/higher,45-64_count,45-64_hs_grad/higher,45-64_bachelor/higher,65+_count,65+_hs_grad/higher,65+_bachelor/higher
0,Alabama,2010,"488,349",0.199,0.301,0.439,0.060,"3,161,521",0.062,0.117,...,0.248,"621,094",0.854,0.231,"1,280,800",0.851,0.226,"657,974",0.723,0.167
1,Alaska,2010,"75,023",0.188,0.371,0.407,0.034,"450,577",0.028,0.061,...,0.245,"93,460",0.922,0.307,"200,088",0.923,0.294,"53,339",0.829,0.244
2,Arizona,2010,"634,568",0.196,0.307,0.436,0.060,"4,146,758",0.063,0.081,...,0.237,"823,770",0.850,0.268,"1,576,753",0.873,0.274,"886,795",0.837,0.245
3,Arkansas,2010,"291,054",0.203,0.325,0.415,0.056,"1,919,422",0.063,0.107,...,0.225,"371,843",0.862,0.210,"759,457",0.854,0.196,"420,075",0.725,0.152
4,California,2010,"3,944,934",0.173,0.276,0.473,0.078,"24,097,200",0.105,0.088,...,0.307,"5,191,065",0.797,0.316,"9,313,187",0.819,0.306,"4,269,495",0.766,0.265

In [100]:
api_df = pd.read_csv("API_Poverty.csv")

# Reorder the columns
api_df = api_df[['state', 'year', 'median_h_income', 'poverty_rate', 'poverty_count']]

#Assuming api_df is your DataFrame
api_df = api_df[api_df['state'] != 'District of Columbia']

# Reset index if needed
api_df.reset_index(drop=True, inplace=True)

# Display the first few rows of the DataFrame
api_df.tail()

              state  year  median_h_income  poverty_rate  poverty_count
550         Alabama  2022            59703         0.162         798469
551          Alaska  2022            88072         0.108          77305
552         Arizona  2022            74355         0.125         904567
553        Arkansas  2022            55505         0.163         481650
554      California  2022            91517         0.122        4673718
555        Colorado  2022            89096         0.095         542333
556     Connecticut  2022            88182         0.098         345710
557        Delaware  2022            81933         0.100          99843
558         Florida  2022            69287         0.127        2770789
559         Georgia  2022            72742         0.129        1372488
560          Hawaii  2022            93683         0.100         140871
561           Idaho  2022            72634         0.105         198979
562        Illinois  2022            76744         0.119        1465724
563         Indiana  2022            66768         0.125         827927
564            Iowa  2022            69708         0.110         340272
565          Kansas  2022            68827         0.119         340106
566        Kentucky  2022            59246         0.163         716293
567       Louisiana  2022            55458         0.186         832505
568           Maine  2022            69485         0.109         146963
569        Maryland  2022            94957         0.098         589754
570   Massachusetts  2022            94538         0.104         700507
571        Michigan  2022            66926         0.133        1306663
572       Minnesota  2022            82343         0.096         538990
573     Mississippi  2022            52788         0.192         545773
574        Missouri  2022            64783         0.131         787164
575         Montana  2022            67915         0.118         130117
576        Nebraska  2022            69828         0.111         213320
577          Nevada  2022            72348         0.126         394516
578   New Hampshire  2022            90750         0.074         100965
579      New Jersey  2022            96341         0.097         879100
580      New Mexico  2022            59842         0.173         358749
581        New York  2022            79463         0.142        2720649
582  North Carolina  2022            67516         0.128        1335859
583    North Dakota  2022            73240         0.112          84207
584            Ohio  2022            65786         0.134        1537902
585        Oklahoma  2022            59632         0.156         608531
586          Oregon  2022            75638         0.120         500100
587    Pennsylvania  2022            71789         0.118        1483039
588    Rhode Island  2022            80873         0.112         117858
589  South Carolina  2022            64227         0.140         719381
590    South Dakota  2022            70597         0.124         108694
591       Tennessee  2022            65231         0.133         920748
592           Texas  2022            72279         0.140        4118852
593            Utah  2022            88531         0.083         276360
594         Vermont  2022            74555         0.102          63667
595        Virginia  2022            85838         0.106         893559
596      Washington  2022            91255         0.100         764405
597   West Virginia  2022            54097         0.174         299275
598       Wisconsin  2022            71050         0.108         621380
599         Wyoming  2022            71275         0.112          63555

In [80]:
# Assuming all_processed_data and combined_df are already defined

# Get the first few rows of all_processed_data and combined_df
years_df = pd.concat([combined_df, all_processed_data], ignore_index=True)

# Display the combined DataFrame
years_df.tail()

,state,year,18-24_count,18-24<hs_grad,18-24_hs_grad/equiv,18-24_some_college/associate,18-24_bachelor/higher,25+_count,25+<9th_grade,25+_9th-12th_grade_nongrad,...,25-34_bachelor/higher,35-44_count,35-44_hs_grad/higher,35-44_bachelor/higher,45-64_count,45-64_hs_grad/higher,45-64_bachelor/higher,65+_count,65+_hs_grad/higher,65+_bachelor/higher
595,Virginia,2022,842750.0,0.095,0.362,0.394,0.149,5978782.0,0.035,0.049,...,0.451,1180820.0,0.927,0.478,2179298.0,0.915,0.418,1462042.0,0.880,0.359
596,Washington,2022,671550.0,0.127,0.364,0.351,0.158,5470209.0,0.035,0.043,...,0.432,1115638.0,0.917,0.436,1869132.0,0.912,0.375,1309142.0,0.928,0.355
597,West Virginia,2022,161047.0,0.109,0.419,0.366,0.107,1262566.0,0.034,0.074,...,0.294,216666.0,0.917,0.310,462646.0,0.885,0.232,376162.0,0.860,0.207
598,Wisconsin,2022,562259.0,0.106,0.372,0.377,0.146,4088500.0,0.024,0.041,...,0.386,742993.0,0.939,0.392,1509392.0,0.932,0.319,1102386.0,0.927,0.274
599,Wyoming,2022,51982.0,0.161,0.327,0.441,0.072,399796.0,0.021,0.041,...,0.292,81607.0,0.918,0.323,137767.0,0.946,0.305,107988.0,0.934,0.265

In [110]:
# Merge the DataFrames using a full outer join on "state" and "year"
years_df = years_df.drop(['state', 'year'], axis=1)

# Concatenate the DataFrames along columns
all_clean_df = pd.concat([api_df, years_df], axis=1)

# Display the combined DataFrame
all_clean_df

,state,year,median_h_income,poverty_rate,poverty_count,18-24_count,18-24<hs_grad,18-24_hs_grad/equiv,18-24_some_college/associate,18-24_bachelor/higher,...,25-34_bachelor/higher,35-44_count,35-44_hs_grad/higher,35-44_bachelor/higher,45-64_count,45-64_hs_grad/higher,45-64_bachelor/higher,65+_count,65+_hs_grad/higher,65+_bachelor/higher
0,Alabama,2010,40538,0.189,883078,"488,349",0.199,0.301,0.439,0.060,...,0.248,"621,094",0.854,0.231,"1,280,800",0.851,0.226,"657,974",0.723,0.167
1,Alaska,2010,63456,0.110,76850,"75,023",0.188,0.371,0.407,0.034,...,0.245,"93,460",0.922,0.307,"200,088",0.923,0.294,"53,339",0.829,0.244
2,Arizona,2010,46787,0.176,1105075,"634,568",0.196,0.307,0.436,0.060,...,0.237,"823,770",0.850,0.268,"1,576,753",0.873,0.274,"886,795",0.837,0.245
3,Arkansas,2010,38413,0.187,529710,"291,054",0.203,0.325,0.415,0.056,...,0.225,"371,843",0.862,0.210,"759,457",0.854,0.196,"420,075",0.725,0.152
4,California,2010,57664,0.158,5785036,"3,944,934",0.173,0.276,0.473,0.078,...,0.307,"5,191,065",0.797,0.316,"9,313,187",0.819,0.306,"4,269,495",0.766,0.265
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,Virginia,2022,85838,0.106,893559,842750.0,0.095,0.362,0.394,0.149,...,0.451,1180820.0,0.927,0.478,2179298.0,0.915,0.418,1462042.0,0.880,0.359
596,Washington,2022,91255,0.100,764405,671550.0,0.127,0.364,0.351,0.158,...,0.432,1115638.0,0.917,0.436,1869132.0,0.912,0.375,1309142.0,0.928,0.355
597,West Virginia,2022,54097,0.174,299275,161047.0,0.109,0.419,0.366,0.107,...,0.294,216666.0,0.917,0.310,462646.0,0.885,0.232,376162.0,0.860,0.207
598,Wisconsin,2022,71050,0.108,621380,562259.0,0.106,0.372,0.377,0.146,...,0.386,742993.0,0.939,0.392,1509392.0,0.932,0.319,1102386.0,0.927,0.274
599,Wyoming,2022,71275,0.112,63555,51982.0,0.161,0.327,0.441,0.072,...,0.292,81607.0,0.918,0.323,137767.0,0.946,0.305,107988.0,0.934,0.265

In [111]:
all_clean_df.to_csv("resources/all_clean_data.csv", index=False)